h1{
	color: #030000;

}
body{
	background-color: #fff2c9;
	font-family: "Montserrat", sans-serif;
	font-weight: <weight>;
 	font-style: normal;
}
ul{
	list-style-type: none;
	background-color: #fae3a0;
	overflow: hidden;
}
ul li{
	float: left;
	text-align: center;
}
ul li a{
	text-decoration: none;
	display: block;
	width: 130px;
	padding: 10px 10px;
	color: #030000;

}
ul li a:hover{
	background-color: #adaca4;
}
.active{
	font-weight: bold;
	border-bottom: solid 2px #f87407;

}
.argentinaActive{
	font-weight: bold;
	border-bottom: solid 2px #113d9c;
}
p{
	font-size: 25pt;
}
.estadosunidosActive{
	font-weight: bold;
	border-bottom: solid 2px #001950;
}
.chileActive{
	font-weight: bold;
	border-bottom: solid 2px #b20000;
}